{{ if .Site.Params.experience.enable | default false }}
<section id="experience" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.experience.title | default "Experience" }}</h3>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 py-5">
                <div class="experience-container px-3 pt-2">
                    <ul class="nav nav-pills mb-3 bg-transparent primary-font" id="pills-tab" role="tablist">
                        {{ range $index, $company := .Site.Params.experience.companies }}
                        {{ if (eq $index 0) }}
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div 
                                class="nav-link active bg-transparent" 
                                aria-selected="true" 
                                role="tab" 
                                data-bs-toggle="pill"
                                id='{{ replace $company.name " " "-" }}-tab'
                                data-bs-target='#pills-{{ replace $company.name " " "-" }}'
                                aria-controls='{{ replace $company.name " " "-" }}' 
                            >
                                {{ $company.name }}
                            </div>
                        </li>
                        {{ else }}
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div 
                                class="nav-link bg-transparent" 
                                aria-selected="true" 
                                role="tab" 
                                data-bs-toggle="pill"
                                id='{{ replace $company.name " " "-" }}-tab'
                                data-bs-target='#pills-{{ replace $company.name " " "-" }}' 
                                aria-controls='{{ replace $company.name " " "-" }}'
                            >
                                {{ $company.name }}
                            </div>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                    <div class="tab-content pb-5 pt-2 bg-transparent primary-font" id="pills-tabContent">
                        {{ range $index, $company := .Site.Params.experience.companies }}
                        {{ if (eq $index 0) }}
                        <div 
                            class="tab-pane fade show active bg-transparent" 
                            role="tabpanel"
                            id='pills-{{ replace $company.name " " "-" }}'
                            aria-labelledby='pills-{{ replace $company.name " " "-" }}-tab'
                        >
                            <div class="company-header">
                                <a href="{{ $company.url }}" target="_blank">{{ $company.name }}</a>
                            </div>
                            {{ range $job := $company.jobs }}
                            <div class="job-entry mt-4">
                                <div>
                                    <span class="h4">{{ $job.position }}</span>
                                    <div class="pb-1">
                                        <small>{{ $job.date }}</small>
                                    </div>
                                    {{ if $job.featuredLink.enable | default false }}
                                    <div class="py-2 featuredLink">
                                        <a class="p-2 px-4 btn btn-outline-primary btn-sm" href={{ $job.featuredLink.url | default "#" }} target="_blank">
                                            {{ $job.featuredLink.name | default "Featured Link" }} 
                                        </a>
                                    </div>
                                    {{ end }}
                                </div>
                                <div class="pt-2">
                                    {{ $job.content | markdownify}}
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        {{ else }}
                        <div 
                            class="tab-pane fade bg-transparent" 
                            role="tabpanel"
                            id='pills-{{ replace $company.name " " "-" }}'
                            aria-labelledby='pills-{{ replace $company.name " " "-" }}-tab'
                        >
                            <div class="company-header">
                                <a href="{{ $company.url }}" target="_blank">{{ $company.name }}</a>
                            </div>
                            {{ range $job := $company.jobs }}
                            <div class="job-entry mt-4">
                                <div>
                                    <span class="h4">{{ $job.position }}</span>
                                    <div class="pb-1">
                                        <small>{{ $job.date }}</small>
                                    </div>
                                    {{ if $job.featuredLink.enable | default false }}
                                    <div class="py-2 featuredLink">
                                        <a class="p-2 px-4 btn btn-outline-primary btn-sm" href={{ $job.featuredLink.url | default "#" }} target="_blank">
                                            {{ $job.featuredLink.name | default "Featured Link" }} 
                                        </a>
                                    </div>
                                    {{ end }}
                                </div>
                                <div class="pt-2">
                                    {{ $job.content | markdownify}}
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
